.AuthForm {
    width: 60%;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0 2px 3px #ccc;
    color: rgb(128, 125, 125);
  }
.SingUpForm {
    text-align: center;
}
.AuthForm p button{
    background: none;
    border: none;
    color: rgb(57, 57, 236);
    cursor: pointer;
}

.AuthForm p button:hover,
.AuthForm p button:active {
    color: rgb(5, 5, 221);
}
.AuthForm p button:focus {
    outline: none;
}