.FormGroub{
    box-sizing: border-box;
    margin: 8px 0;
}

.InputEle {
    box-sizing: border-box;
    display: block;
    margin: 4px 0;
    padding: 4px 4px 4px 20px;
    width: 100%;
}

.InputEle:focus{
    background: rgb(255, 246, 222);
    outline: none;
}

.Invalid:focus {
    border-color: red;
    background-color: rgb(252, 156, 156);
}

.ErrorMess {
    color: red;
    height: 24px;
}
