.Order {
  width: 60%;
  max-width: 600px;
  margin: 0 auto;
}
.Order h2 {
  text-transform: uppercase;
  text-shadow:2px 2px #fa932f;
}

.Order ul {
  list-style: none;
  margin-bottom: 10px;
  padding: 0.4rem;
  box-sizing: border-box;
  box-shadow: 2px 2px 3px 4px #ccc;
  text-align: center;
}